

#header{
    color: #ffffff;
    font-size: 45px;

   
}
/* Setting the size and color for the navigation elements*/
#nav-element{
    color: #ffffff;
    font-size: 20px;
   
}


/*Setting the background color of the navigation bar*/
.navbar{
    background:#176EC9;
    bottom: none;
}

#images{
    width:auto;
    height: 200px;
}

.sub-heading{
    
    text-align: center;
    text-decoration: underline;
}


/*Setting the background image of the website for the element with the id background image*/

body{

    /*font-style:italic;
    font-size: 40px;
    font-family: sans-serif; 
    position:relative;
    padding:0px;
    background-color:#0f121f;
    margin:0px;
    overflow:hidden;
    /*height:600px;*/
    /*top:-20px;*/
    background-image:url(/static/images/58.jpg); 
    background-repeat:repeat;
    /*background-size: 100% 700px;*/
    background-position: top center;
    background-attachment: fixed;
    margin-top: 40px;
    height: 100%;
}
a:hover {

    background-color: green;
    /*color: #ffffff;*/
    color: black;
    text-decoration: underline;
    background-color: lightgreen;
}

li.a {
    color:#ffffff;
}

/*

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;

}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}
*/

div.desc {
    padding: 15px;
    text-align: center;
    background:#ffffff;
}

/*Just to look at how the grid system works*/

.col-md-8{
    background:#fbfbfb;
}



.cv{
    color: #2B4F75;
}


.navbar-inverse .navbar-nav > li > a , .navbar-inverse .navbar-brand{
    color: #e3dede;

}

.well{

    opacity:0.9;
}




