{% load static from staticfiles %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA_Compatible" content="IE=edge"/>
<meta name="viewport" content="widh=device-width, initial-scale=1"/>



    <!--Jquery-->
     <script src="ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>
     <script  src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>
     <script src="{% static 'jquery/jquery.js' %}"> </script>
 
    <!-- Bootstrap -->


   
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"> </script>

    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    

      <!--Custom styleSheet-->

    <link href="{% static 'customStyles/styles.css' %}" rel="stylesheet"/>



	<title>Michael Kamau</title>
	
</head>
<body>	


  <nav class="navbar navbar-expand-sm  navbar-dark fixed-top" >
  <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/home.jpg' %}" class="rounded" alt="logo" style="width:70px; height:70px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
    
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="{% url 'home' %}">Home</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'myapp:about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'myapp:applications' %}">Portfolio</a>
          </li>
                 
        </ul>


        <div>

          <ul class="navbar-nav navbar-right">      
            <!-- The following link is only displayed if the admin is logged in so that he can remember to log out-->
            <li class="nav-item">
              <a class="nav-link" href="{%url 'myapp:contacts' %}">Contacts</a>

            </li> 
                  
        </ul>


        </div>        

    </div>

  </nav>


{%  block content %}

{% endblock %}

</body>
</html>