{% load static from staticfiles %}

.navbar{
   background-color: rgba(1, 1, 1, 0.5); 
}

.navbar-dark .navbar-nav .nav-link {
    color:  #ffffff;
    font-size: 20px;
    padding: 15px;
    
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:  #6e7171 ;
}
.navbar-dark .navbar-nav .nav-link:active {
    color:   #6e7171 ;
}

#images{
    width:auto;
    height: 200px;
}

.sub-heading{
    
    text-align: center;
    text-decoration: underline;
}



a:hover {

    background-color: black;
    /*color: #ffffff;*/
    color: white;
    text-decoration: underline;
    background-color: black;
}

li.a {
    color:#ffffff;
}

/*

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;

}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}
*/

div.desc {
    padding: 15px;
    text-align: center;
    background:#ffffff;
}

/*Just to look at how the grid system works*/

.col-md-8{
    background:#fbfbfb;
}



.cv{
    color: #2B4F75;
}


.navbar-inverse .navbar-nav > li > a , .navbar-inverse .navbar-brand{
    color: #e3dede;

}

.well{

    opacity:0.9;
}


.homeHead{


    background: 
        linear-gradient(
          rgba(1, 1, 1, 0.2),
          rgba(1, 1, 1, 0.2)
        ),url(/static/images/road.jpg);
    padding:60px; 
    color: white;
     background-repeat: no-repeat;
     background-size:cover;
     position: center;
}

.aboutHead{
     background: 
        linear-gradient(
          rgba(1, 1, 1, 0.2),
          rgba(1, 1, 1, 0.2)
        ),url(/static/images/jeans.jpg);
    padding:60px; 
    color: white;
     background-repeat: no-repeat;
     background-size:cover;
     position: center;
   
}

.portfolioHead{
     background: 
        linear-gradient(
          rgba(1, 1, 1, 0.2),
          rgba(1, 1, 1, 0.2)
        ),url(/static/images/sunset.jpg);
    padding:60px; 
    color: white;
     background-repeat: no-repeat;
     background-size:cover;
     position: center;
   
}



.contactsHead{
     background: 
        linear-gradient(
          rgba(1, 1, 1, 0.2),
          rgba(1, 1, 1, 0.2)
        ),url(/static/images/sunset.jpg);
    padding:60px; 
    color: white;
     background-repeat: no-repeat;
     background-size:cover;
     position: center;
   
}




.card{
    margin:20px;
    padding-bottom: 0px;
}

.highlight{
    background:rgba(1, 1, 1, 0.4);
    border-color: #ffffff; 
}



