{%extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}



<div class="text-center col-md-12 col-sm-12 row aboutHead" style="  vertical-align:middle; text-align:center; min-height: 300px; align-content: middle; padding-top: 130px;">
	<div class="col-md-12 col-sm-12">
		<h1 style="margin:auto; font-family:Sans-serif; ">About Me</h1>
	</div>


	<div class=" text-justify card col-sm-12 col-md-11 highlight">
      <div class="card-body">        
        <h4 class="card-title" style="opacity:1"> Academic Qualification</h4>
        <p class="card-text"><b>2014-2018:</b> University Education at Jomo Kenyatta university of Agriculture and Technology persuing Barchelor of Science in Computer Science. </p>      
        <p class="card-text"><b>2014:</b> Microsoft Office Computer Packages at the aberdeen college of accountancy.</p>
        <p class="card-text"><b>2010-2013:</b> Secondary Education at St. Anthony's boy's High School Kitale.</p>
        <p class="card-text"><b>2002-2009:</b> Primary Education at Uasin Gishu Primary School Eldoret.</p>        
      </div>
    </div>

	
</div>


<div class="container col-sm-12 col-md-12 row" >




	<div class="col-md-12 col-sm-12 " style="padding: 50px">
		<h4  >TECHNICAL SKILLS</h4>
	</div>
	<div class="col-md-2 col-sm-12 " style="padding: 10px">
		
	</div>
     
	<div class="col-md-5 col-sm-12">
		<ul>

			  <li>Android Application Programmming</li> 
			  <li>Networking</li>
			  <li>Website Development (backend using java,python and php)</li>
			  <li>Software Development</li>
			  <li>API development in Django</li>
			  <li>Google Seo</li>
			  <li>Database 
			  	<ul>
			  		<li>mysql, postgresql</li>
			    </ul>
			</li>
			<li>CMS(wordpress)</li>
			<li>Electric Wiring</li>
			<li>CCTV Installation</li>			
		</ul>


	</div>
	<div class="col-md-5 col-sm-12">
		<ul>

			<li>Driving(Driver's License)</li>
			<li>Computer Languages</li>
				  <ul>
				  	<li> <h6>python</h6>
					  <div class="progress">
					    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
					      Python
					    </div>
					  </div>
					</li>
					<li><h6>Java</h6>  
					  <div class="progress">
					    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
					      Java
					    </div>
					  </div>
					</li>
					<li><h6>C</h6> 
					  <div class="progress">
					    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%">
					      C
					    </div>
					  </div>
					</li>
					<li><h6>php</h6> 
					  <div class="progress">
					    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
					      Php
					    </div>
					  </div>
					</li>
					<li><h6>JavaScript, Html, CSS, JQuerry, Xml.</h6></li>
					
				  </ul>
		  </ul>


	</div>
	


		  
			  




</div>



<div class="jumbotron col-sm-12 col-md-12 row" >
	<div class="col-md-12 col-sm-12 ">
		<h2 >Interests</h2>
	</div>

	<div class="col-md-2 col-sm-12 ">
		
	</div>

	
	<div class="col-sm-12 col-md-5">
		<ul class="academic_qualification">
		
			<li>Data analysis</li>
			<li>Design and analysis of data algorithms</li>
			<li>Network Configuration</li>
			<li>Website application development</li>			
		</ul>
	</div>

	<div class="col-sm-12 col-md-5">
		<ul class="academic_qualification">
					
			<li>Android application development</li>
			<li>Software Development</li>
			<li>Artificial Intelligence</li>
			<li>Machine Learning</li>
		</ul>
	</div>
	
		  

</div>



{% endblock %}