{% extends 'base_layout.html' %}
{% load static %}


{%block content %}

<div class=" sub-heading">
	<h2> DEVELOPED APPLICATIONS</h2>
</div>
<div class="well">

  <h2 class="sub-heading">English To swahili Translater App</h2>

  <h4>Description</h4>
  <h6>
  	Today, lets base our discussion on  financial prosperity . This is greatly dependent on how you handle your finances and your attitude towards finances in general. All successful people attain their success gradually through self discipline in their financial management. This is made possible by the mindset they have towards money and it goes without saying that perspective is everything. As a business person, it is vital for you to change your money mindset in order to also realize this success. The following are a few tips that can help you attain your financial goals.


  </h6>
  
   <a href="{% static 'apps/swahilisha.apk' %}"><button type="button" class="btn btn-primary">Downlad app <span class="glyphicon glyphicon-download"></span></button></a>
     
</div>
<div class="well">
	
  <h2 class="sub-heading">MathBrain</h2>

  <h4>Description</h4>
  <h6>
  	Is Just a simple game to test ones mathematical prowess through addition and subtraction calculations. It has a one minute timer whereby before the expiration of the timer the user is to answer random mathematical questions where each correctly answered question earns the user 10 points.

  </h6>
  
   <a href="{% static 'apps/mathbrain.apk' %}"><button type="button" class="btn btn-primary">Downlad app <span class="glyphicon glyphicon-download"></span></button></a>
     
</div>
<div class="well">
	
  <h2 class="sub-heading">Ajira </h2>

  <h4>Description</h4>
  <h6>
  	Is an application that can be used as a platform for looking for an application and can also be used by employers to look for employees.


  </h6>
  
  
   <a href="{% static 'apps/ajira.apk' %}"><button type="button" class="btn btn-primary">Downlad app <span class="glyphicon glyphicon-download"></span></button></a>
     
</div>

<div class="well">
  
  <h2 class="sub-heading">Antibully</h2>

  <h4>Description</h4>
  <h6>
    Is a comments application whereby its users can be able to post comments online. However, there are a set of illegal words(offensive words ) which the user is not permitted to use. Anytime a user uses an illegal word, the admin is notified and in addition, the user is warned. If the user uses an illegal word a second time,their account is blocked such that they can't be able to log in to post any comment or view the posted comments.

  </h6>
  
   <a href="{% static 'apps/antibully.apk' %}"><button type="button" class="btn btn-primary">Downlad app <span class="glyphicon glyphicon-download"></span></button></a>
     
</div>

{% endblock %}