{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{%block content %}


<div class="text-center col-md-12 col-sm-12 row portfolioHead" style="  vertical-align:middle; text-align:center; min-height: 300px; align-content: middle;">
  <h1 style="margin:auto; font-family:Sans-serif; ">Portfolio</h1>

  
</div>




<div class="container col-sm-12 col-md-12 row" >

  <div class="col-md-12 col-sm-12 " style="padding: 50px">
    <h4  >Work Experience</h4>
  </div>

  <div class="col-md-5 col-sm-12">
    <ul>

        <li>Worked on the following freelance projects
            <ul>
              <li>Smart room Locator android application and website</li>
              <li>Medicine Reminder android application</li>
              <li>Events,Vendors, Performing artist and venue websites complete with login, registration and dashboard for user content management(alleventsfinder.com)</li>
              <li>Law Firm Website (KN-Partners.com)</li>
              <li>Mining Solutions website(minesolver.000webhostapp.com)</li>
              <li>Research and writing services website with blog (Norimresearch.com)</li>
              <li>VBA project</li>
            </ul>
        </li>  
                  
    </ul>


  </div>



  <div class="col-md-5 col-sm-12">
    <ul>

        <li>Worked in webcloud Kenya from October 2018 to March 2019
            <ul>
              <li>Website Development
                <ul>
                  <li>Tourism Website (Metrosafarisandtours.com)</li>
                  <li>Golden Enterprise Kenya(gek.co.ke)</li>
                  <li>Forex Academy (gflacademy.com)</li>
                  <li>Church website (christnationministry.com)</li>
                  <li>Education website (kazarkenya.org)</li>
                </ul>
              </li>
              <li>Android Application Development</li>
              <li>Data analysis on excel using pytho </li>
              
            </ul>
        </li>               
    </ul>


  </div>

</div>


<div class="jumbotron col-sm-12 col-md-12 row aboutHead"  style="margin: auto;">

  <div class="col-md-12 col-sm-12">
    <h4  >Android Applications</h4>
  </div>



  <div class="card col-sm-12 col-md-5 highlight">
    <div class="card-body">        
      <h4 class="card-title" style="opacity:1"> English To swahili Translater App</h4>
      <p class="card-text">Is an android application that can be used to translate text from English to swahili. It can also translate pdf files whereby after the translation, the translated pdf file is stored locally so that it can be accessed even without an internet connection.</p>
      <a href="{% static 'apps/swahilisha.apk' %}" class="btn btn-primary disabled">Download</a>
    </div>
  </div>

  <div class="card col-sm-12 col-md-5 highlight">
    <div class="card-body">        
      <h4 class="card-title" style="opacity:1"> Ajira</h4>
      <p class="card-text">Is an application that can be used as a platform for looking for an application and can also be used by employers to look for employees.</p>
      <a href="{% static 'apps/ajira.apk' %}" class="btn btn-primary ">Download</a>
    </div>
  </div>

  <div class="card col-sm-12 col-md-5 highlight">
    <div class="card-body">        
      <h4 class="card-title" style="opacity:1">MathBrain</h4>
      <p class="card-text">Is Just a simple game to test ones mathematical prowess through addition and subtraction calculations. It has a one minute timer whereby before the expiration of the timer the user is to answer random mathematical questions where each correctly answered question earns the user 10 points.</p>
      <a href="{% static 'apps/mathbrain.apk' %}" class="btn btn-primary ">Download</a>
    </div>
  </div>

  <div class="card col-sm-12 col-md-5 highlight">
    <div class="card-body">        
      <h4 class="card-title" style="opacity:1">Antibully</h4>
      <p class="card-text">Is a comments application whereby its users can be able to post comments online. However, there are a set of illegal words(offensive words ) which the user is not permitted to use. Anytime a user uses an illegal word, the admin is notified and in addition, the user is warned. If the user uses an illegal word a second time,their account is blocked such that they can't be able to log in to post any comment or view the posted comments.
      Admin username(password). Admin password(password)</p>
      <a href="{% static 'apps/antibully.apk' %}" class="btn btn-primary ">Download</a>
    </div>
  </div>


   <div class="card col-sm-12 col-md-5 highlight">
    <div class="card-body">        
      <h4 class="card-title" style="opacity:1">Emergency Contacts</h4>
      <p class="card-text">The application contains nation wide contacts for emergency services like: <br>

     -Ambulances<br>
     - police<br>
     - fire brigades and others...</p>
      <a href="{% static 'apps/emergencycontacts.apk' %}" class="btn btn-primary ">Download</a>
    </div>
  </div>

</div>


{% endblock %}