{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
<div class="bg-gray-50 min-h-screen">
	
<div  class="" >
  <p class="font-extralight text-2xl text-center">Contact Details</p>
  <div class="col-sm-10">
  	<p><span>NAME:</span> KAMAU KARITU MICHAEL </b><span class="glyphicon glyphicon-user"></span><br></h4>
  	<p><span>Phone:</span> 0721410478 <span class="glyphicon glyphicon-phone"></span> </p>
  	<p><span>E-MAIL:</span> kamau.karitu@gmail.com <span class="glyphicon glyphicon-envelope"></span></p>
  	<p><span>Github:</span> michael-kamau </p>
  	<p><span>Linked In:</span> Michael_kamau_10 </p>
 </div>
  
</div>


</div>


{% endblock %}