{% extends 'base_layout.html' %}

{% load static from staticfiles %}

{% block content %}


<div class="text-justify col-md-12 col-sm-12 row homeHead " style=" padding-top: 150px;  vertical-align:middle; text-align:center; min-height: 720px; align-content: middle ; margin:auto;">

	<div class="text-center col-sm-12 col-md-12">
		<h1 style="margin:auto; font-family:Sans-serif; ">Contact</h1> 
	</div>



	<div class="col-sm-12 col-md-1">		
	</div>
      

   


    <div class="card col-sm-12 col-md-11 highlight">
      <div class="card-body">        
        <h4 class="card-title" style="opacity:1"> Contact Information</h4>
        <p class="card-text"><b>NAME:</b> KAMAU KARITU MICHAEL <span class="glyphicon glyphicon-user"></span></p>      
        <p class="card-text"><b>Phone:</b> 0727242802 <span class="glyphicon glyphicon-phone"></span></span></p>
        <p class="card-text"><b>E-MAIL:</b> kamau.karitu@gmail.com <span class="glyphicon glyphicon-envelope"></span></p>
        <p class="card-text"><b>Github:</b> michael-kamau </p>
        <p class="card-text"><b>LinkedIn:</b> Michael_kamau_10  <span class="glyphicon glyphicon-user"></span></p>
         
        <button href="#" class="btn btn-primary highlight">Thanks!!</button>        
      </div>
    </div>


</div>




{% endblock %}